body {
  background-color: #221f1f !important;
}

#logo {
  max-width: 100px;
  max-height: 50px;
}

.h2 {
  color: #ffffff !important;
}

.icons {
  font-size: 1.2rem;
  color: white !important;
}

.txt {
  font-size: 0.8rem !important;
  font-weight: bold;
}

.footerLink {
  text-decoration: none !important;
  font-size: 0.8rem;
}

.posterImg {
  max-height: 150px;
}

.filmCont {
  max-width: 150px;
}

.filmTitle {
  color: #ffffff !important;
}
