body {
  background-color: #221f1f !important;
}

#logo {
  max-width: 100px;
  max-height: 50px;
}

.h2 {
  color: #ffffff !important;
}

.icons {
  font-size: 1.2rem;
  color: white !important;
  margin-right: 1rem;
}

.txt {
  font-size: 0.8rem !important;
  font-weight: bold;
}

.footerLink {
  text-decoration: none !important;
  font-size: 0.8rem;
}

.posterImg {
  max-height: 150px;
}

.filmCont {
  max-width: 120px;
}

.filmTitle {
  color: #ffffff !important;
  padding-left: 2rem;
}

.footer-icon {
  color: white;
}

.lista {
  max-width: 99vw; /* ho cercato di risolvere le misure fisse ma qualcosa continuava a dare fastidio, solo cosi sono riuscito a levare la barra di scorrimento orizontale*/
}
